body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    font-size: .9em;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

li {
    width: 320px;
    margin: .5rem;
}

.card-content {
    position: relative;
}

.status {
    position: absolute;
    top: 0;
    left: 50%; 
    transform: translate(-50%, -50%);
    display: inline-flex;
    gap: .3rem;
    transition: none;
}

.status .button {
    border-radius: 4px;
    padding: .3rem;
    height: auto;
    width: 2em;
}

.status button {
    display: inline-flex;
    align-items: center;
}

.status button svg {
    height: 1em;
    width: 1em;
    fill: currentColor;
}

.icon-play {
    transform: translateX(10%);
}

form {
    display: inline-flex;
}

.card img {
    transition: filter 0.25s ease;
}

.card-content .title, .card-content {
    transition: color 0.25s ease;
}

.card.Disabled .card-content, .card.Disabled .card-content .title {
    color: #cccccc;
}
.card.Disabled img {
    filter: grayscale(100%);
}

.tag.is-loading {
    color: transparent !important;
    pointer-events: none;
}

.tag.is-loading::after {
    left: calc(50% - (1em / 2));
    top: calc(50% - (1em / 2));
    position: absolute !important;
}

.tag.is-loading::after {
    -webkit-animation: spinAround 500ms infinite linear;
    animation: spinAround 500ms infinite linear;
    border: 2px solid #dbdbdb;
    border-radius: 290486px;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    height: 1em;
    position: relative;
    width: 1em;
}

#sse-disconnected {
    --margin-top: 0.5rem;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(calc(-100% - var(--margin-top)));
    transition: all 0.4s cubic-bezier(0.22, 1, 0.36, 1);
    z-index: 1000;
    visibility: hidden;
    margin-top: var(--margin-top);
}

#sse-disconnected.is-visible {
    visibility: visible;
    transform: translateX(-50%) translateY(0);
}